html {
    position: relative;
    min-height: 100%;
}
body {
    overflow-y:hidden;
}
#content {
    float: right;
    padding: 2%;
    width: 71%;
}

#aside {
    float: left;
    padding: 2%;
    width: 21%;
    background-color: #eee;
}

@media all and (max-width : 768px) {


}