@import url(bootstrap.css);
@import url(bootstrap-responsive.css);

html {
    position: relative;
    min-height: 100%;
    padding-top: 0.5em;
    overflow: auto;
}
body {
    overflow-y:hidden;
}

#header {

    padding-left: 6.75%;
    padding-right: 6.75%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
}



@media all and (max-width : 768px) {


}



.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;
}
