html {
    position: relative;
    min-height: 100%;
    padding-top: 2em;
}
body {
    overflow-y:hidden;
}

#header {

    padding-left: 6.75%;
    padding-right: 6.75%;
}

#content {
    float: right;

    width: 71%;
}

#aside {
    float: left;
   ;
    width: 21%;
    background-color: #eee;
}

@media all and (max-width : 768px) {


}